<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://omar-api.tn/AbsenceManagement</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Omar180794</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="tn.api.omar.entities.Professor" />
		<mapping class="tn.api.omar.entities.Classroom" />
		<mapping class="tn.api.omar.entities.CourseSession" />
		<mapping class="tn.api.omar.entities.Groups" />
		<mapping class="tn.api.omar.entities.Session" />
		<mapping class="tn.api.omar.entities.Speciality" />
		<mapping class="tn.api.omar.entities.Subject" />
		<mapping class="tn.api.omar.users.model.User" />
		<mapping class="tn.api.omar.users.model.UserRole" />
	</session-factory>
</hibernate-configuration>